
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /><br />
    <h3 class="alert alert-success">Dolar Alış: @ViewBag.exchange_rateUSD - Dolar Satış: @ViewBag.previous_closeUSD</h3>
    <h3 class="alert alert-success">Dolar Alış: @ViewBag.exchange_rateEUR - Dolar Satış: @ViewBag.previous_closeEUR</h3>
</div>

